services:
  backend:
    image: ${{ secrets.DOCKER_USERNAME }}/django-api:latest
    container_name: django_api
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    networks:
      - appnet

  frontend:
    image: ${{ secrets.DOCKER_USERNAME }}/react-app:latest
    container_name: react_app
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://backend:8000
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
