name: CI-CD Pipeline

on:
  push:
    branches:
      
      - main

jobs:

  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build backend image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/django-api:latest ./backend

      - name: Build frontend image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/react-app:latest ./frontend

      - name: Push images to DockerHub
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/django-api:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/react-app:latest


  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Deploy to EC2 server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/devops-assessment

            echo "Pull latest images"
            docker pull ${{ secrets.DOCKER_USERNAME }}/django-api:latest
            docker pull ${{ secrets.DOCKER_USERNAME }}/react-app:latest

            echo "Stop old containers"
            docker compose down

            echo "Start new containers"
            docker compose up -d --remove-orphans

            echo "Deployment finished"
